#root {
  margin: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EmailBtn {
background-color: #ffffff;
color: black;
text-align: center;


}

.LinkedInBtn {
background-color: #5093e2;
text-align: center;
display: flex;
  flex-direction: row;
  align-items: center;
}

.LinkedInBtn img {
  margin-right: 0.5rem;
  
  
}

.MainBtns {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 20rem;
  
}

.PersonalInfo {
  text-align: center;
  margin: auto;
}

.PersonalInfo h2 { 
margin: 0;
}

.PersonalInfo h4 {
  margin: 0;
  color: #e7b692 ;
}

.PersonalInfo p{
  margin: 0rem;
}

.AboutInt {
  margin: 2rem 6rem 2rem 6rem;
  max-width: 18rem;
}



